<app-navbar></app-navbar>
<div class="container mt-3">
  <h1>hello from {{ title }}</h1>

  <button class="btn btn-danger" (click)="changeState()">on/off</button>

  <header>
    <div>
      <!-- <img src="{{ app_header }}" style="height: 400px; margin-top: 58px;"  /> -->
      <img [src]="app_header" style="height: 400px; margin-top: 58px;"  />
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
        <div
          class="d-flex justify-content-center align-items-center h-100"
        ></div>
      </div>
    </div>
    <!-- Background image -->
  </header>
  <button class="btn btn-primary mt-2" [disabled]="disabled">Click Me</button>
  <!-- <app-products></app-products> -->
  <!-- <app-users></app-users> -->
   <app-movies></app-movies>

</div>

<app-footer></app-footer>

<!-- component selector -->
